<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="dialect">com.example.lab7.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:C:\\Program Files\\SQLiteStudio\\reservations</property>

        <!--<property name="hibernate.hbm2ddl.auto">update</property>-->

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping resource="com/example/lab7/ormentities/Client.hbm.xml" />
        <mapping resource="com/example/lab7/ormentities/Manager.hbm.xml" />
        <mapping resource="com/example/lab7/ormentities/Play.hbm.xml" />
        <mapping resource="com/example/lab7/ormentities/Representation.hbm.xml" />
        <mapping resource="com/example/lab7/ormentities/Reservation.hbm.xml" />
        <mapping resource="com/example/lab7/ormentities/ReservedSeat.hbm.xml" />
        <mapping resource="com/example/lab7/ormentities/Seat.hbm.xml" />

        <!--<mapping resource="hello/Message.hbm.xml"/>

        <mapping resource="event/hbm/Event.hbm.xml"/>
        <mapping class="event.annotations.EventAnnot"/> -->
    </session-factory>
</hibernate-configuration>